{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:150 }}
    {% else %}
        Welcome to NR store where you can buys different items.....
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - See our products items.....
    {% else %}
        NR traders shop
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
            <h3>Our products</h3>
        </div>
    </div>
</div>
    {% endif %}

<div>
    {% if category %}
        <center><img src="{{category.image.url}}"alt="{{category.name}}"width="1400px" height="380px" ></center>
</div>
    <br>
<div>
    <h1 class="text_center my-title">{{Category.name}}</h1>
    <p class="text_justify">{{Category.description}}</p>
</div>
    {% else %}
<div>
<img src="{% static 'img/banner1.jpg' %}" alt="NR tea, spices and nuts" width="1500px" height="250px">
</div>
<br>
<div>
    <h1>Our products collection</h1>
    <p>Cotrary to popular indian product tea, spices,nuts,dry fruits</p>
</div>
   {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-6 col-sm-9 col-md-4  col-lg-4">
            <div class="card" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" ></a>
                <div class="card-body"><h3 class="text-center">{{product.name}}</h3>
                    <h4 class=" text-center">{{product.price}}</h4>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm{% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
